
       <link rel="stylesheet" href="/css/user_profile.css">
       <!-- This is the content that again can be delivered using various partials -->
        <h1>This is codial /User profile</h1>
       <p>Name: <%= user.name %></p>
       <p>Email: <%= user.email %></p>        
       <div>
              <button>Sign Out</button>
       </div>